name: Publish to Homebrew

on:
  release:
    types: [published]

jobs:
  homebrew:
    runs-on: ubuntu-latest
    steps:
      - name: Release to Homebrew
        uses: Justintime50/homebrew-releaser@v3
        with:
          # The name of your tool
          homebrew_owner: securestart
          homebrew_tap: homebrew-tap
          formula_folder: Formula
          github_token: ${{ secrets.HOMEBREW_TAP_TOKEN }}

          target_darwin_amd64: true
          target_darwin_arm64: true
          target_linux_amd64: true
          target_linux_arm64: true

          # Specifics for sstart
          install: 'bin.install Dir["**/sstart"][0] => "sstart"'
